*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --clip-path-1: polygon(0 40%, 100% 0%, 100% 100%, 0 100%);
  --clip-path-2: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  --orange: orange;
  --white: white;
  --black: black;
  --dark: hsl(3, 90%, 55%);
  font-size: 10px;
  scroll-behavior: smooth;
}
::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: var(--white); }

::-webkit-scrollbar-thumb { background-color: var(--orange); }

::-webkit-scrollbar-thumb:hover { background-color: var(--dark); }

::selection{
    background-color: var(--orange);
    color: var(--white);
}

/* ########### header styling ########### */
.navbar-section input{
    display: none;
}
.navbar-section label.opened{
    display: none;
}
.navbar-section label.closed{
    display: none;
}
header{
    height: 100vh;
    background: url(./img/hero-bg.jpg) center no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
nav{
    position: fixed;
    width: 100%;
    height: 9rem;
    background-color: rgba(0, 0, 0, 0.442);
    border-bottom: 2px solid #ddd;
    z-index: 100;
}
.navbar-section{
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a.logo{
    text-decoration: none;
    font-size: 2.6rem;
    margin-left: 1rem;
    color: var(--white);
} a.logo span{
    color: var(--orange);
}
.menu-items li{
    list-style: none;
    display: inline-block;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.menu-items li a{
    text-decoration: none;
    color: var(--white);
    transition: color 300ms ease-in-out;
}
.menu-items li a:hover{
    color: var(--orange);
}
.navbar-section a.btn{
    color: var(--white);
    background-color: var(--orange);
    padding: 1.3rem 2.5rem;
    margin-right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 300ms ease-in-out;
}
.navbar-section a.btn:hover{
    background-color: var(--black);
}
/* ####33 home content styling ## */
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-left: 10%;
    width: 40%;
}
.home-content span{
    font-family: cursive;
    color: var(--orange);
    font-size: 3rem
}
.home-content h1{
    color: var(--white);
    font-size: 6rem;
    margin-bottom: 1rem;
}
.home-content p{
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 1rem;
}
.home-content a{
    color: var(--white);
    background-color: var(--orange);
    padding: 1.3rem 2.5rem;
    margin-right: 2rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 300ms ease-in-out;
}
.home-content a:hover{
    background-color: var(--white);
    color: var(--black);
}
img.corve-head{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 65%;
}
img.shapes-head{
    position: absolute;
    bottom: -50px;
    right: 0px;
    width: 60%;
}
img.burger-head{
    position: absolute;
    bottom: -50px;
    right: 100px;
    width: 43%;
}
/* ############ about Styling ############# */
#about{
    margin-top: 5rem;
}
.about-section{
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}
.a-child{
    width: 30%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 3px 4px 10px var(--black);
    border-radius: 2rem;
}
.a-child::after{
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--orange);
    clip-path: var(--clip-path-1);
    transform: scaleY(0.3);
    transform-origin: bottom;
    z-index: -1;
    transition: all 300ms ease-in-out;
}
.a-child h1{
    font-size: 3rem;
}
.a-child p{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.a-child:hover::after{
    transform: scaleY(2);
}
.a-child:hover{
    color: var(--white);
}
.a-child span.first{
    display: block;
    font-size: 5rem;
    margin: auto;
}
.a-child img.second{
    display: block;
    width: 80%;
    margin: auto;
}

/* ########3 shop sectio styling ###### */
#shop{
    margin-top: 5rem;
    /* height: 100%; */
    background: url(./img/hero-bg.jpg) center no-repeat;
    background-size: cover;
    overflow: hidden;
    position: relative;
}
img.top{
    display: block;
    width: 100%;
    height: 3rem;
    position: absolute;
    top: -1rem;
}
img.bottom{
    display: block;
    width: 100%;
    height: 3rem;
    position: absolute;
    bottom: -1rem;
}
.shop-section{
    /* height: 100%; */
    display: flex;
    justify-content: space-around;
}
.shop-content{
    width: 48%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;
}
.shop-content h1{
    font-size: 5rem;
    color: var(--white);
}
.shop-content h1 span{
    color: var(--orange);
    font-family: cursive;
}
.shop-content p{
    font-size: 2.4rem;
    color: var(--white);
}
.shop-content a{
    text-decoration: none;
    color: var(--white);
    background-color: var(--orange);
    padding: 1.3rem 2rem;
    font-size: 1.8rem;
    transition: all 300ms ease-in-out;
}
.shop-content a:hover{
    background-color: var(--black);
}
.shop-img{
    width: 48%;
    position: relative;
}
.shop-img img{
    display: block;
    margin: auto;
    transition: all 300ms ease-in-out;
    filter: drop-shadow(30px 30px 10px #00000094);
}
.shop-img img:hover{
    transform: scale(1.1);
}
.shop-img::after{
    content: url(./img/sale-shape.png);
    display: block;
    position: absolute;
    top: 0px;
    left: -40px;
    transform: scale(0.6);
    animation: zoom 2s linear infinite;
}
@keyframes zoom {
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(0.8);
    }
}

/* ###### blog section######### */
#blog{
    margin-top: 6rem;
}
#blog span.blogspan{
    display: block;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: red;
    text-align: center;
}
#blog h1{
    font-size: 3.2rem;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#blog h1 span{
    color: var(--orange);
    font-size: 3.2rem;
}
#blog p{
    font-size: 2rem;
    text-align: center;
}
.blog-section{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.blog-child{
    border-radius: 2rem;
    width: 32%;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    overflow: hidden;
    gap: 1rem;
    box-shadow: 3px 4px 10px var(--black);
}
.card-down{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-down .date-n-name a{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    margin-right: 3rem;
    color: var(--black);
    transition: all 300ms ease-in-out;
}
.card-down .date-n-name a:hover{
    color: var(--orange);
}
.card-down .card-link{
    text-decoration: none;
    font-size: 2.2rem;
    color: var(--black);
    font-weight: bold;
}
.card-down .card-link:hover{
    text-decoration: underline;
    color: rgba(0, 0, 0, 0.679);
}
.card-down span.down-span{
    font-size: 2rem;
    color: var(--black);
}
.card-down a.read{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--black);
    transition: all 300ms ease-in-out;
}
.card-down a.read:hover{
    color: var(--orange);
}



/* ############ footer1 styling ##### */
#footer{
    border: 2pxx solid var(--orange);
    margin-top: 5rem;
    height: 65vh;
    background: url(./img/footer-illustration.png);
    position: relative;
    overflow: hidden;
    margin-top: 10rem;
    border-bottom: 2px solid #ddd;
}
#footer::after{
    content: url(./img/delivery-boy.svg);
    position: absolute;
    bottom: 0px;
    transform: translateX(-90%);
    width: 160px;
    animation: animate 15s linear infinite;
}
@keyframes animate {
    0%{
        transform: translateX(-90%);
    }
    100%{
        transform: translateX(1000%);
    }
}

.footer-section{
    display: flex;
    justify-content: space-around;
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
}
.ft-child{
    width: 24%;
    background-color: #ffffff88;
    padding: 1rem;
}
.ft-child img{
    display: block;
    width: 3rem;
}
.social-icons{
    display: flex;
    justify-content: space-around;
}
.ft-child h1{
    font-size: 3.2rem;
    margin-bottom: 2rem;
}
.ft-child span{
    color: var(--orange);
}
.ft-child p{
    font-size: 2rem;
    line-height: 4rem;
}
.ft-child li{
    list-style: none;
    font-size: 2rem;
    margin-bottom: 2rem;
}
form{
    background-color: var(--white);
    height: 100%;
    padding: 3rem;
    box-shadow: 5px 5px 10px var(--black);
}
form div{
    display: flex;
    justify-content: space-between;
}
input,select{
    width: 48%;
    padding: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.6rem;
    padding: 1rem;
    color: #000000b9;
}
textarea{
    width: 100%;
    font-size: 1.6rem;
    padding: 1rem;
    color: #000000b9;
    margin-bottom: 2rem;
}
::placeholder{
    font-size: 1.6rem;
}
button{
    cursor: pointer;
    font-size: 1.8rem;
    padding: 1.2rem 2.4rem;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    transition: all 300ms ease-in-out;
}
button:hover{
    background-color: var(--black);
}


/* ####### footer styling ############ */
footer{
    margin-top: 1rem;
    padding: 1rem 0rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: #00000097;
}


/* ######### media query ######## */
@media (max-width: 1100px) {
    .a-child{
        width: 47%;
    }
    .shop-img img{
        width: 100%;
    }
    .blog-child{
        width: 48%;
        margin-bottom: 2rem;
    }
    #footer{
        height: auto;
    }
    .ft-child{
        width: 49%;
        margin-bottom: 2rem;
    }
    .ft-child li{
        font-size: 1.5rem;
    }
    .ft-child p{
        font-size: 1.5rem;
    }
    .ft-child:nth-child(4){
        margin-bottom: 10rem;
    }
}
@media (max-width: 1000px){
    .navbar-section label.opened {
        display: block;
        width: 4rem;
        position: absolute;
        top: 22px;
        right: 4rem;
        z-index: 8;
    }
    .navbar-section label.closed {
        display: none;
        width: 4rem;
        position: absolute;
        top: 22px;
        right: 4rem;
        z-index: 8;
    }
    .navbar-section label img{
        display: block;
        width: 100%;
    }
    nav{
        position: relative;
    }
    .menu-items{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        padding-top: 10rem;
        padding-left: 2rem;
        padding-right: 3rem;
        right: -100%;
        background-color: var(--orange);
        z-index: 6;
        transition: all 250ms ease-in-out;
    }
    .menu-items li{
        margin-bottom: 3rem;
        font-weight: bold;
        font-size: 3rem;
    }
    .menu-items li a:hover{
        color: var(--white);
    }
    .navbar-section input:checked ~ .menu-items{
        right: 0px;
    }
    .navbar-section input:checked ~ label.opened{
        display: none;
    }
    .navbar-section input:checked ~ label.closed{
        display: block;
    }
    a.logo{
        position: absolute;
        left: 5rem;
    }
    a.btn{
        position: absolute;
        right: 25%;
    }
    header{
        height: 70vh;
    }
    img.burger-head{
        display: none;
    }
    img.shapes-head{
        display: none;
    }
    img.corve-head{
        display: none;
    }
    .home-content{
        align-items: center;
        margin-left: 0px;
        width: 100%;
    }
}
@media (max-width: 943px){
    .home-content h1{
        font-size: 5rem;
    }
    .shop-section{
        flex-direction: column;
    }
    .shop-content{
        width: 100%;
        align-items: center;
        padding: 7rem;
    }
    .shop-content h1{
        font-size: 4rem;
    }
    .shop-content p{
        line-height: 4rem;
    }
    .shop-img{
        width: 100%;
    }
    .shop-img img{
        width: 70%;
    }
    .shop-img::after{
        left: 5%;
    }
}
@media (max-width: 856px){
    .card-down .date-n-name a{
        font-size: 1.4rem;
    }
}
@media (max-width: 786px){
    .home-content h1{
        font-size: 4rem;
        letter-spacing: 2px;
    }
    .home-content p{
        font-size: 1.8rem;
    }
    .shop-img::after{
        left: 0%;
    }
}
@media (max-width: 692px){
    .home-content h1{
        font-size: 3.5rem;
        letter-spacing: 2px;
    }
    .home-content p{
        font-size: 1.6rem;
    }
    .card-down .date-n-name a{
        margin-right: 1rem;
        font-size: 1rem;
    }
    .shop-img::after{
        left: -5%;
        top: -15%;
    }
}
@media (max-width: 692px){
    .home-content h1{
        font-size: 3.2rem;
        letter-spacing: 2px;
    }
    .home-content p{
        font-size: 1.4rem;
    }
    .card-down .date-n-name a{
        margin-right: 1rem;
        font-size: 1rem;
    }
    .a-child{
        width: 100%;
        margin-bottom: 3rem;
    }
    .shop-content h1{
        font-size: 3rem;
    }
    .shop-content p{
        font-size: 2rem;
    }
    #blog p{
        font-size: 1.5rem;
    }
    .blog-child{
        width: 100%;
    }
    .card-down .date-n-name a{
        font-size: 1.6rem;
        margin-right: 3rem;
    }
}
@media (max-width: 567px){
    .home-content h1{
        font-size: 3rem;
    }
    .shop-content p{
        font-size: 1.4rem;
    }
    .shop-img::after{
        top: -30%;
        left: -12%;
    }
    .ft-child{
        width: 100%;
    }
}
@media (max-width: 536px){
    .home-content h1{
        font-size: 2.5rem;
    }
    .shop-img::after{
        top: -50%;
    }
    a.logo h1{
        font-size: 3rem;
    }
    .navbar-section a.btn{
        font-size: 1.3rem;
    }
}
@media (max-width: 457px){
    .home-content h1{
        font-size: 2rem;
    }
    .home-content p{
        font-size: 1.2rem;
    }
    .shop-img::after{
        top: -50%;
    }
}
@media (max-width: 430px){
    a.logo{
        left: 1rem;
    }
    .menu-items li{
        font-size: 2rem;
    }
    .shop-img::after{
        display: none;
    }
}
@media (orientation: landscape) and (max-height: 500px){
    header{
        height: 50vmax;
    }
}